@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;800&display=swap');

.d-flex{
    display: flex;
}

$nav-text-color: #51505e;
$main-blue-color: #0c7cec;
$white-color: #ffffff;
$nav-font: 'Gemunu Libre'

